---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'Home',
  ignoreTitleTemplate: false,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Join Our Discord',
        href: 'https://discord.gg/wTFtv2rnCW',
      },
      {
        variant: 'primary',
        text: 'Register',
        href: 'https://forms.gle/R8fEJyMi5fZH7vyx5',
      },
    ]}
    image={{ src: '~/assets/images/arrow2.png', alt: 'Girls Got Game Hero Image' }}
  >
    <Fragment slot="bg">
      <img src="/assets/images/gggpink.png" alt="" class="w-full h-auto object-contain" />
    </Fragment>

    <Fragment slot="title"> </Fragment>

    <Fragment slot="subtitle">
      <span class="text-white leading-none">
        An international game jam empowering female and <br /> non-binary students through game development <br /><br
        /><br />
        November 15th - December 13th, 2025
      </span>
    </Fragment>
  </Hero>

  <main class="space-y-40">
    <!-- Features Widget *************** -->
    <section id="About" class="intersect animate-fade">
      <Features
        id="features"
        title="About"
        subtitle={`Girls Got Game is an international online game jam designed to empower <span class='text-yellow-400'> girls and nonbinary youths ages 13–18</span> to explore creativity, coding, and storytelling through game development. Whether you're new to games or already creating, this beginner-friendly event offers resources, and a supportive community to build and share your own game. This fall, Girls Got Game is running a month-long jam from November 15th - December 13th!`}
      />
    </section>

    <section id="Game-Jam" class="intersect animate-fade">
      <Features
        id="features"
        title="What is a Game Jam?"
        subtitle="A game jam is a fun, short-term event where people come together to make games based on a surprise theme (ex: “growth” or “light and shadow”). You don’t need experience, just creativity and a willingness to try! Over a few days, you’ll design and build a simple game (on your own or with a team), and then share it with others at the end."
      />
    </section>

    <section id="HIW" class="intersect animate-fade">
      <Steps
        title="How to Participate"
        items={[
          {
            title: 'Register Online',
            description:
              'Sign up individually using the google form <a href="https://forms.gle/HmwDDKnvozQ3fteU6" target="_blank" rel="noopener noreferrer"><strong><u>here</u></strong></a>. After that, you will receive all the details you need to get started! If you want to join a team, there will be a separate form for that after you register individually.',
          },
          {
            title: 'Join the Kickoff (November 15th)',
            description:
              'We’ll announce the theme (a phrase to inspire your game), share resources, and answer questions during a virtual kickoff event.',
          },
          {
            title: 'Make Your Game',
            description:
              'You’ll have one week to create a game based on the theme. Use any tool or platform (ex: Scratch, Unity, Godot, and more)! It’s not just programming though, you can also participate as part of a team by contributing art, music, or design!',
          },
          {
            title: 'Celebrate',
            description: 'Explore what others made, and celebrate your creativity in our closing showcase!',
          },
        ]}
      />
    </section>

    <section id="Criteria" class="intersect animate-fade">
      <!-- FAQ Widget **************** -->
      <FAQs
        title="Judging Criteria"
        subtitle="Games will be judged based on the following 4 criteria:"
        items={[
          {
            title: 'Theme',
            description: 'Does the game use the official theme in a meaningful way?',
          },
          {
            title: 'Gameplay',
            description: 'Is the game fun and engaging?',
          },
          {
            title: 'Quality',
            description: 'Is the game complete and polished?',
          },
          {
            title: 'Creativity',
            description: 'Does the game incorporate fresh ideas in its design?',
          },
        ]}
      />
    </section>

    <!-- Features Widget ***************   -->

    <section id="Prizes" class="intersect animate-fade">
      <Features
        id="features"
        title="Prizes"
        subtitle={`
        There will be monetary prizes for the top 3 games<br />
        <br />
        First: <br /> +$100 <br /> 
        <br /> Second: <br /> +$50 <br />
        <br />
        Third: <br /> +$25 <br /> <br />
        <br /> 
        <br /> More prizes coming soon!
      `}
      />
    </section>

    <section id="FAQ" class="intersect animate-fade">
      <!-- FAQ Widget **************** -->
      <FAQs
        title="Frequently Asked Questions"
        items={[
          {
            title: 'What is a Game Jam?',
            description: 'A game jam is a short event where people collaborate to create video games!',
          },
          {
            title: 'Who can participate?',
            description:
              'Girls Got Game is open to girls and non-binary youth ages 13–18 from anywhere in the world. No prior experience is required.',
          },
          {
            title: 'Is there a fee?',
            description: 'No, participating in Girls Got Game is free :)',
          },
          {
            title: 'Do I need to know how to code?',
            description:
              'Nope, beginners are welcome! We’ll share resources to help you get started. You can also participate in a team by contributing art, music, or design.',
          },
          {
            title: 'Can I work in a team?',
            description:
              'Yes! You can participate solo or in a team of up to 4 people. You’ll be able to register as a team after you sign up individually. We’ll also help match solo participants who want to find teammates.',
          },
          {
            title: 'Do I need Discord?',
            description:
              'Discord is optional but highly recommended. It’s where we’ll host announcements and community chats. We’ll have moderators to keep things safe and supportive. You can join <a href="https://discord.gg/TgweDKk2" target="_blank" rel="noopener noreferrer"><strong><u>here</u></strong></a>.',
          },
          {
            title: 'Where can I ask more questions?',
            description:
              'You can ask a question on our Discord server or email us directly at <span class="text-yellow-400"> hello@girlsgotgamejam.org</span>. We’re happy to help!',
          },
        ]}
      />
    </section>

    <!-- CallToAction Widget *********** -->
    <section id="Register" class="intersect animate-fade">
      <CallToAction
        actions={[
          {
            variant: 'primary',
            text: 'Register Now',
            href: 'https://forms.gle/HUvWZFAUDAprPPDC7',
            target: '_blank',
          },
          {
            variant: 'primary',
            text: 'Join Our Discord',
            href: 'https://discord.gg/wTFtv2rnCW',
          },
        ]}
      >
        <Fragment slot="title"> Ready to join? </Fragment>
      </CallToAction>
    </section>

    <!--paralax scroll-->
    <script is:inline>
      let parallaxFactor;

      if (window.innerWidth < 500) {
        parallaxFactor = 0.05; // mobile
      } else if (window.innerWidth < 1025) {
        parallaxFactor = 0; // tablet
      } else {
        parallaxFactor = 0.3; // desktop
      }

      if (window.innerWidth > 0) {
        window.addEventListener('scroll', () => {
          const scrollTop = window.pageYOffset;

          const far = document.querySelector('.parallax-far');
          const mid = document.querySelector('.parallax-mid');
          const midnear = document.querySelector('.parallax-midnear');
          const near = document.querySelector('.parallax-near');

          if (far) {
            far.style.transform = `translateY(${(-scrollTop * 80 * parallaxFactor) / window.innerWidth}px)`;
          }
          if (mid) {
            mid.style.transform = `translateY(${(-scrollTop * 200 * parallaxFactor) / window.innerWidth}px)`;
          }
          if (midnear) {
            midnear.style.transform = `translateY(${(-scrollTop * 400 * parallaxFactor) / window.innerWidth}px)`;
          }
          if (near) {
            near.style.transform = `translateY(${(-scrollTop * 600 * parallaxFactor) / window.innerWidth}px)`;
          }
        });
      }
    </script>
  </main>
</Layout>
