---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Footer from '~/components/widgets/Footer.astro';
import { footerData } from '~/navigation';

const metadata = {
  title: 'Supporters',
};

const supporters = [
  {
    name: 'Construct 3',
    logo: '/assets/images/construct3.jpg',
    url: 'https://www.construct.net/',
  },
  {
    name: 'Aseprite',
    logo: '/assets/images/Aseprite-logo.png',
    url: 'https://www.aseprite.org/',
  },
  {
    name: 'Women in Games',
    logo: '/assets/images/wig-logo.jpg',
    url: 'https://www.womeningames.org/',
  },
  {
    name: 'Girls Make Games',
    logo: '/assets/images/girlsmakegames.jpeg',
    url: 'https://girlsmakegames.com/',
  },
  {
    name: 'CodeCrafters',
    logo: '/assets/images/codecrafters-logo.png',
    url: 'https://codecrafters.io/',
  },
  {
    name: 'CleanShot',
    logo: '/assets/images/cleanshot-logo.png',
    url: 'https://cleanshot.com/',
  },
  {
    name: 'XYZ',
    logo: 'assets/images/xyz-logo-white.png',
    url: 'https://gen.xyz/',
  },
  {
    name: 'Glowkeeper',
    logo: 'assets/images/glowkeeper.png',
    url: 'https://glowkeepergame.com/',
  },
  {
    name: 'Science Ambassadors Scholarship',
    logo: 'assets/images/sas.jpg',
    url: 'https://www.scienceambassadorscholarship.org/',
  },
  {
    name: 'Stonemaier Games',
    logo: 'assets/images/stonemaier.jpg',
    url: 'https://stonemaiergames.com/',
  },
];
---

<Layout metadata={metadata}>
  <div class="bg-black/50">
    <HeroText title="Thank you to all our supporters!" />

    <section class="py-16 px-4 md:px-12 lg:px-24">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 items-start justify-center">
        {
          supporters.map((supporter) => (
            <div class="flex flex-col items-center text-center space-y-4">
              <a
                href={supporter.url}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:opacity-80 transition-opacity"
              >
                <img src={supporter.logo} alt={supporter.name + ' logo'} class="w-64 h-auto object-contain" />
              </a>
              <div>
                <h3 class="text-lg font-semibold">{supporter.name}</h3>
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </div>
  <div slot="footer" class="bg-black/50">
    <Footer {...footerData} />
  </div>
</Layout>
